.loader{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.slider{
    width: 20px;
    height: 80px;
    background: white;
    margin: 0 15px;
    border-radius:10px;
    box-shadow: 15ps 15px 20px rgba(0, 0, 0, 0.3),          0px 0px 20px #fff,
                inset -5px -5px 10px rgba(0, 0, 255, 0.1),
                inset 5px 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position:relative;
}
.slider:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    box-shadow:inset 0px 0px 0px rgba(0, 0, 0, 0.3),
               0px 420px 0 200px #2607f3;
               inset: 0px 0px 0px rgba(0, 0, 0, 0.1);
    animation: animate 2.5s ease-in-out infinite;
    animation-delay: calc(-0.5s * var(--i));

}
@keyframes animate{
    0%{
        transform: translateY(250px);

        filter: hue-rotate(0deg);
    }

    50%{
        transform: translateY(0);

    }

    100%{
        transform: translateY(250px);
        filter: hue-rotate(100deg);
    
    }

}